page-home {
    .bg-image{
        background-image: url('../assets/imgs/apple.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
