<ion-header>
  <ion-navbar>
    <ion-grid *ngIf="weather">
      <ion-title>{{weather.display_location.full}}</ion-title>
    </ion-grid>
  </ion-navbar>
</ion-header>
  
  <ion-content padding class="bg-image">
    <ion-grid>
      <ion-title>Hourly Forecast</ion-title>
    </ion-grid>
      <ion-list>
        <ion-item *ngFor="let item of hourly">
          <p>{{ item.FCTTIME.pretty}}</p>
          <p>{{ item.temp.english }}&deg;</p>
          <p><img src="{{ item.icon_url }}" alt=""></p>
          <p>{{ item.condition }}</p>
        </ion-item>
      </ion-list>
  </ion-content>
