page-lookuphourly {
    .bg-image{
        background-image: url('../assets/imgs/sea.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 100%;
        width: 100%;
    }      
}
