page-hourly {
    .bg-image{
        background-image: url('../assets/imgs/sea.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
