page-geotenday {
    .bg-image{
        background-image: url('../assets/imgs/ocean.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

}
