<ion-header>
  <ion-navbar>
    <ion-grid *ngIf="weather">
      <ion-title>{{weather.display_location.full}}</ion-title>
    </ion-grid>
  </ion-navbar>
</ion-header>
  
  <ion-content padding class="bg-image">
    <ion-grid>
      <ion-title>Ten Day Forecast</ion-title>
    </ion-grid>
    <ion-grid *ngIf="ten">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[0].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[0].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[2].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[2].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[4].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[4].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>  
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[6].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[6].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[8].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[8].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[10].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[10].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[12].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[12].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[14].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[14].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[16].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[16].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <strong>Day: </strong> {{ten[18].title}}
            </ion-item>
            <ion-item text-wrap>
              <strong>Forecast: </strong> {{ten[18].fcttext}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>