
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";







$colors: (
  primary:    #3d2cee,
  secondary:  #33d5e1,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       rgba(69, 66, 66, 0.577)
);

$toolbar-md-background: color($colors, secondary);

$tabs-md-background: color($colors, secondary);
$tab-md-tab-color-active: color($colors, light);
$tab-md-tab-color-inactive: color($colors, dark);
$tab-md-tab-text-color: color($colors, light);

@import "ionic.theme.default";



@import "ionic.ionicons";



@import "roboto";
@import "noto-sans";
